#about.pb-5
  %h1.display-3.color-header-two About
  %h3.lead.text-muted Nice to meet you.
  .row.justify-content-center.h-100
    .col-md-3.my-auto
      = image_tag "brock", class: "about-me-photo img-fluid"
    .col-md-4.my-auto
      %span.align-middle
        I'm Brock Sauvage, a full stack web developer based out of Lawrence, Kansas.
        I build sites and applications mostly in Ruby on Rails, but I'm not afraid to dive into
        other languages and frameworks when the project calls for it. In my free time, I enjoy
        kayaking, traveling, and taking long walks through Stack Overflow.
