#landing.landing-content
  .row.h-100.align-items-center.text-center
    .col-md-12
      = image_tag 'logo.png', class: "img-fluid logo"
      %h1.display-1.d-inline I'm web
      %h1.display-1.color-header.d-inline sauvy
      %h3.lead.text-muted.align-middle A full-stack developer who solves interesting problems for great people.
