#landing.landing-content
  .row.h-100.align-items-center.text-center
    .col-md-12
      = image_tag 'logo.png', class: "img-fluid logo"
      %h1.name-plate.display-1.d-inline Brock
      %h1.name-plate.display-1.color-header.d-inline Sauvage
      .row.justify-content-center
        %div
          %h3#typed-header.lead.text-muted.align-middle.typewriter Software Developer
