= render partial: "pages/landing_sections/landing"
= render partial: "pages/landing_sections/about"
= render partial: "pages/landing_sections/skills"
-# = render partial: "pages/landing_sections/work"
= render partial: "pages/landing_sections/contact"
