/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "font-awesome.css";

@font-face {
  font-family: 'Quantify';
  src: url('Quantify.ttf') format('truetype');
}

html{
  scroll-behavior: smooth;
}

body{
  position: relative;
}
h3{
  text-align: center;
  font-family: 'Helvetica';
}

h1{
  text-align: center;
  font-family: 'Quantify';
}

.color-header{
  color: #a500ff;
}

#header-nav{
  z-index: 1;
  position: sticky;
  top: 0;
}

.navbar-brand{
  font-family: 'Quantify';
  margin-right: 0;
}

.logo{
  width: 50%;
  display: block;
  margin: auto;
}

.content{
  height: 45em;
}

.landing-item-image{
  border-radius: 50%;
  transition: box-shadow 0.2s ease-out;
  box-shadow: 0px 0px 0px 0px #a500ff;
}

.landing-item-image:hover {
  box-shadow: 0px 0px 0px 10px #a500ff;
}

.landing-item-image:hover + .circle-one{
  transform: scale(1.1);
}
