%nav.navbar.navbar-dark.bg-dark.footer
  .row
    .col.align-self-center
      %a.navbar-brand{:href => "https://www.instagram.com/thebroccolicabbage/"}
        = fa_stacked_icon "instagram", base: "square-o"
      %a.navbar-brand{:href => "https://www.github.com/brocksauvage"}
        = fa_stacked_icon "github", base: "square-o"
      %a.navbar-brand{:href => "http://www.linkedin.com/in/brock-sauvage"}
        = fa_stacked_icon "linkedin", base: "square-o"
      %a.navbar-brand{:href => "https://www.facebook.com/brock.sauvage"}
        = fa_stacked_icon "facebook", base: "square-o"
